<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>

    <link rel="stylesheet" href="style.css">
    <style>
       
    </style>
</head>
<body>
<div class="nav">


  <div class="mainWord">
      <div class="shcooplogo">
        <img src="../static/_efad8655-cf5b-423c-8bdc-3729579e2b06.png" alt="shcooplogo" height="75">
    </div>
      Shcoop
  </div>
    <div class="navRight">
<!--         <div class="navItem">Contact</div> -->
        <div class="navItem">About</div>
        <div class="navButton">Contact Me!</div>
    </div>

</div>

<h1 class="titleWord">Stock Prediction</h1>
<div class="middle">

<form id="tickerDetails" method="POST">
        <label class="inputLabel" for="user_input">Enter Stock Ticker</label>

<!--    <div class="bottomPart">-->
                <input class="textInput" type="text" id="user_input" name="user_input" required>
        <div class="dates">
            <div class="dateClass">

                <label class="inputLabel" id="date1" for="start_date">Start Date:</label>
                <input class="date" type="date" id="start_date" name="start_date" required>
<!--            </div>-->
<!--            <div class="endDate">-->
                <label class="inputLabel" id="date2" for="end_date">End Date:</label>
                <input class="date" type="date" id="end_date" name="end_date" required>
<!--            </div>-->
            </div>

            <div class="buttonClass">
    <button type="submit" class="search-button">Search <svg class="search-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
  <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l6 5.99L20.49 20l-5.99-6zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
  <path d="M0 0h24v24H0z" fill="none"/>
</svg>
    </button>
</div>
        </div>


<!--    </div>-->

    </form>



    <h2>Data from {{start}} - {{end}} for {{symbol}}</h2>

    <table class="stock-table">
        {{ stock_data_describe|safe }}
    </table>


                <div class="content">
                    <div class="contentTitle">
                        <h2>Stock Graph</h2>

                        <svg width="20" height="15" viewBox="0 0 42 25">
                            <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" fill="transparent"/>
                          </svg>
                    </div>
                    <div class="contentData">
                        <img src="data:image/png;base64,{{ plot }}" alt="stock plot">
                    </div>
                </div>

                <div class="content">
                    <div class="contentTitle">
                        <h2>Stock Data by Day</h2>

                        <svg width="20" height="15" viewBox="0 0 42 25">
                            <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round" fill="transparent"/>
                          </svg>
                    </div>
                    <div class="contentData">
                        <table>
                            {{ stock_data|safe}}
                        </table>

                    </div>
                </div>


<!--    <h2>Stock Graph</h2>-->
<!--    <img src="data:image/png;base64,{{ plot }}" alt="stock plot">-->

<!--    <h2>SP500 Graph</h2>-->
<!--    <img src="data:image/png;base64,{{ rand_plot }}" alt="rand plot">-->



</div>

<script>
const faqs=document.querySelectorAll(".content");

faqs.forEach((faq) => {
    faq.addEventListener("click", () => {
        faq.classList.toggle("active");
    });
});
</script>

</body>
</html>
